<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>苗木管理系统</title>
  <link rel="stylesheet" href="../style/font-awesome.min.css">
  <link rel="stylesheet" href="../style/adminlte.min.css">
  <link rel="icon" href="../resources/favicon.ico"/>
  <style type="text/css">
    .error-content{
      min-height: 800px;
    }
  </style>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <div class="wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>500 错误页面</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="../login">登录</a></li>
                <li class="breadcrumb-item active">500 错误页面</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      <section class="content">
        <div class="error-page">
          <h2 class="headline text-danger">500</h2>
          <div class="error-content">
            <h3><i class="fa fa-warning text-danger"></i> 抱歉! 获取登陆信息失败.</h3>
            <p>
                请转至登录<a href="../login">登录</a> 界面重新登陆。
            </p>
          </div>
        </div>
      </section>
    </div>
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
  </div>
  <script src="../lib/jquery/dist/jquery.min.js"></script>
  <script src="../lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../script/adminlte.min.js"></script>
</body>
</html>
