{{ define "header" }}
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>苗木管理系统</title>
    <link rel="stylesheet" href="../style/font-awesome.min.css">
    <link rel="stylesheet" href="../style/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="../style/adminlte.min.css">
    <link rel="stylesheet" href="../style/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../style/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../style/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="../style/toastr.min.css">
    <link rel="stylesheet" href="../style/site.min.css"/>
    <link rel="icon" href="../resources/favicon.ico"/>
    <style type="text/css">
        .dt-buttons {
            margin-left: 20px;
        }
    </style>
{{ end }}