<!DOCTYPE html>
<html lang="zh-cn">
<head>
    {{template "header" .}}
    <style type="text/css">
        .dt-buttons {
            margin-left: 20px;
        }
    </style>
    <link rel="stylesheet" href="../style/select2.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">用户管理</h3>
                            </div>
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>登录名</th>
                                            <th>用户姓名</th>
                                            <th>密码</th>
                                            <th>角色</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range $k,$v:=.models}}
                                        {{if eq $k "infos"}}
                                        {{range $i:=$v}}
                                                <tr>
                                                    <td>{{$i.Id}}</td>
                                                    <td>{{$i.User_Id}}</td>
                                                    <td>{{$i.User_Name}}</td>
                                                    <td>{{$i.User_Password}}</td>
                                                    <td>{{$i.RoleName}}</td>
                                                    <td>{{$i.Insert_Time}}</td>
                                                    <td>
                                                        {{if $.operat.IsUpdate}}
                                                            <a href="#" class="link-primary link-edit" attr-id="{{$i.Id}}" attr-uid="{{$i.User_Id}}" attr-uname="{{$i.User_Name}}" attr-pwd="{{$i.User_Password}}" attr-roles="{{$i.RoleId}}" onclick="onupdate(this)">
                                                                <i class="fa fa-edit"></i>
                                                                <span>修改</span>
                                                            </a>
                                                        {{end}}
                                                        {{if $.operat.IsDel}}
                                                            <a href="#" class="link-primary link-del" attr-id="{{$i.Id}}" onclick="ondel(this)">
                                                                <i class="fa fa-trash"></i>
                                                                <span>删除</span>
                                                            </a>
                                                        {{end}}
                                                    </td>
                                                </tr>
                                        {{end}}
                                        {{end}}
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{if .operat.IsAdd}}
                <div class="modal fade" id="modal-default">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">新增用户</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="iuserId">登录名</label>
                                    <input type="text" class="form-control" id="iuserId" placeholder="登录名">
                                </div>
                                <div class="form-group">
                                    <label for="iuserName">姓名</label>
                                    <input type="text" class="form-control" id="iuserName" placeholder="姓名">
                                </div>
                                <div class="form-group">
                                    <label for="iuserpassword">密码</label>
                                    <input type="password" class="form-control" id="iuserpassword" placeholder="密码">
                                </div>
                                <div class="form-group">
                                    <label for="iRoleId">角色</label>
                                    <div class="form-group">
                                        <select class="select2" id="iRoleId" style="width: 100%" multiple="multiple">
                                            <option value="0">请选择角色</option>
                                            {{range $k,$v:=.models}}
                                            {{if eq $k "roles"}}
                                            {{range $i:=$v}}
                                            <option value="{{$i.Role_Id}}">{{$i.Role_Name}}</option>
                                            {{end}}
                                            {{end}}
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary btnAdd">新增</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
            {{if $.operat.IsUpdate}}
                <div class="modal fade" id="modal-edit">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">修改用户</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="">编号</label>
                                    <label class="lbId"></label>
                                </div>
                                <div class="form-group">
                                    <label for="inputUId">登录名</label>
                                    <input type="text" class="form-control" id="inputUId" placeholder="登录名">
                                </div>
                                <div class="form-group">
                                    <label for="inputName">姓名</label>
                                    <input type="text" class="form-control" id="inputName" placeholder="姓名">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">密码</label>
                                    <input type="password" class="form-control" id="inputPassword" placeholder="密码">
                                </div>
                                <div class="form-group">
                                    <label>角色</label>
                                    <div class="form-group">
                                        <select class="select2" id="inputRoleId" style="width: 100%" multiple="multiple">
                                            <option value="0">请选择角色</option>
                                            {{range $k,$v:=.models}}
                                            {{if eq $k "roles"}}
                                            {{range $i:=$v}}
                                            <option value="{{$i.Role_Id}}">{{$i.Role_Name}}</option>
                                            {{end}}
                                            {{end}}
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary btn-save">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
            {{if $.operat.IsDel}}
                <div class="modal fade" id="modal-dialog" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">确认</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p id="delshow"></p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-dark">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </section>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    {{template "foot" .}}
    <script type="text/javascript" src="../lib/select2/select2.full.min.js"></script>
    {{if .operat.IsAdd}}
        <script type="text/javascript">
            $(function () {
                $(".select2").select2();
            });

            loaded(function () {
                document.querySelector(".btnAdd").addEventListener("click", function () {
                    var rids = $("#iRoleId").select2("val");
                    var roleids = "";
                    rids.forEach(function (e) {
                        if (roleids.length > 0) {
                            roleids += ",";
                        }
                        roleids += e;
                    });
                    fetch("/permission/AddUserInfo",
                        {
                            method: "post",
                            headers: {
                                "Content-type": "application/json;charset=UTF-8"
                            },
                            body: JSON.stringify({
                                User_Id: $("#iuserId").val(),
                                User_Name: $("#iuserName").val(),
                                User_Password: $("#iuserpassword").val(),
                                role_id: roleids
                            })
                        }).then(function (response) {
                            return response.json();
                        }).then(function (json) {
                            message(json, function () {
                                $("#modal-default").modal("hide");
                                location.reload();
                            });
                        }).catch(function (error) {
                            console.log('Request failed', error);
                            errorMsg(error);
                        });
                });
            });
        </script>
    {{end}}
    {{if $.operat.IsUpdate}}
        <script type="text/javascript">
            $(function () {
                $(".select2").select2();
                $(".link-edit").on("click", function () {
                    onupdate(this);
                });
            });
            loaded(function () {
                document.querySelector(".btn-save").addEventListener("click", function () {
                    var rids = $("#inputRoleId").select2("val");
                    var roleids = "";
                    rids.forEach(function (e) {
                        if (roleids.length > 0) {
                            roleids += ",";
                        }
                        roleids += e;
                    });
                    fetch("/permission/UpdateUserInfo",
                        {
                            method: "post",
                            headers: {
                                "Content-type": "application/json;charset=UTF-8"
                            },
                            body: JSON.stringify({
                                Id: parseInt($(".lbId").text()),
                                User_Id: $("#inputUId").val(),
                                User_Name: $("#inputName").val(),
                                User_Password: $("#inputPassword").val(),
                                role_id: roleids
                            })
                        }).then(function (response) {
                            return response.json();
                        }).then(function (json) {
                            message(json, function () {
                                $("#modal-edit").modal("hide");
                                location.reload();
                            });
                        }).catch(function (error) {
                            console.log('Request failed', error);
                            errorMsg(error);
                        });
                });
            });
            function onupdate(o) {
                $(".lbId").text($(o).attr("attr-id"));
                $("#inputUId").val($(o).attr("attr-uid"));
                $("#inputName").val($(o).attr("attr-uname"));
                $("#inputPassword").val($(o).attr("attr-pwd"));
                var roles = $(o).attr("attr-roles");
                var arr = roles.split(",");
                var rids = [];
                var i = 0;
                arr.forEach(function (e) {
                    rids[i] = parseInt(e);
                    i += 1;
                })
                $("#inputRoleId").val(rids).trigger("change");
                $("#modal-edit").modal("show");
            }
        </script>
    {{end}}
    {{if $.operat.IsDel}}
        <script type="text/javascript">
            $(function () {
                $(".link-del").on("click", function () {
                    ondel(this);
                });
            });
            loaded(function () {
                var btn = document.querySelector(".btn-dark");
                if (btn != undefined) {
                    btn.addEventListener("click", function () {
                        var uid = this.getAttribute("attr-id");
                        fetch("/permission/DelUserInfo", {
                            method: "post",
                            headers: {
                                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                            },
                            body: "userId=" + uid + "&" + Date.now()
                        }).then(function (response) {
                            return response.json();
                        }).then(function (json) {
                            message(json, function () {
                                $("#modal-dialog").modal("hide");
                                location.reload();
                            });

                        }).catch(function (error) {
                            console.log('Request failed', error);
                            errorMsg(error);
                        });
                    });
                }
            })
            function ondel(o) {
                var id = $(o).attr("attr-id");
                document.querySelector("#delshow").textContent = "确认要删除编号【" + id + "】用户吗？";
                document.querySelector(".btn-dark").setAttribute("attr-id", id);
                $("#modal-dialog").modal("show");
            }
        </script>
    {{end}}
</body>
</html>